.page-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-botton: 2px
}

.top-row {
    display: flex;
    justify-content: flex-end; /* Pushes the content to the right */
    align-items: center; /* Vertically center the items */
}

.gridview-header {
    background-color: #f0f0f0; /* Change background color */
    color: #333; /* Change text color */
    font-weight: bold; /* Make the font bold */
    text-align: center; /* Center-align the text */
}